body {
  margin: 0;
  padding: 0;
}

.container {
  width: 350px;
  height: auto;
  border: solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
}
h2 {
  margin: 0;
}

header {
  padding: 24px 0;
}

.details {
  background-color: #FECEB1;
  padding: 24px;
}
.header-details {
  border-bottom: solid white 2px;
}

.professional-subtitle {
  margin: 8px 0;
}

.brackets-details {
  display: flex;
  justify-content: space-between;
}

/* .brackets-information {
  display: inline-block;
} */

.information {

}