/* Margin */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 8px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Padding */
.p-3 {
  padding: 24px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.pr-6 {
  padding-right: 48px;
}

.pt-2 {
  padding-top: 16px;
}

/* Align text */
.text-center {
  text-align: center;
}

/* Font size */
.text-xxs {
  font-size: 7px;
}

.text-xs {
  font-size: 8px;
}

.text-sm {
  font-size: 11px;
}

/* Font family */
.font-inter {
  font-family: "Inter", sans-serif;
}

/* Line height*/
.leading-loose {
  line-height: 2;
}
