@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,800&family=Inter&display=swap");
@import url("./general.css");

body {
  margin: 0;
  padding: 24px;
  box-sizing: content-box;
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 350px;
  height: auto;
}

.details {
  background-color: #feceb1;
}

.header-details {
  border-bottom: solid white 1.5px;
}

.brackets-details {
  display: flex;
  align-items: center;
}

.bracket-numbers {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
}

.number {
  font-size: 35px;
  font-weight: bold;
  color: #f59986;
}

.qr-code {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: min-content;
}

.qr-code img {
  height: 80px;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8px 8px 8px 24px;
}
